<div
  class="text-crawl {{frameTypeClass}} {{themeTypeClass}} {{effectTypeClass}} {{#if hasSender}}text-crawl--has-sender {{senderPositionClass}} {{senderImageFitClass}} {{senderImageShapeClass}} {{senderSizeClass}}{{/if}}"
  style="
    --text-crawl-offset-x: {{offsetX}};
    --text-crawl-offset-y: {{offsetY}};
    --text-crawl-align-x: {{alignXCss}};
    --text-crawl-text-align: {{textAlignCss}};
    --text-crawl-max-width: {{maxWidth}};
    --text-crawl-scroll-duration: {{scrollDuration}}s;
    --text-crawl-scroll-iteration-count: {{scrollIterationCount}};
    --text-crawl-line-effect-duration: {{lineEffectDuration}}s;
  "
>
  {{#if showCinematicBars}}
    <div class="text-crawl__cinematic-bar text-crawl__cinematic-bar--top"></div>
    <div class="text-crawl__cinematic-bar text-crawl__cinematic-bar--bottom"></div>
  {{/if}}

  <div class="text-crawl__content">
    <div class="text-crawl__text-block">
      {{#if hasSender}}
        <aside class="text-crawl__sender">
          {{#if sender.hasImage}}
            <div class="text-crawl__sender-image-frame">
              <img class="text-crawl__sender-image" src="{{sender.image}}" alt="{{sender.name}}" />
            </div>
          {{/if}}
          <div class="text-crawl__sender-meta">
            <div class="text-crawl__sender-label">{{sender.label}}</div>
            <div class="text-crawl__sender-name">{{sender.name}}</div>
            {{#if sender.sublabel}}
              <div class="text-crawl__sender-sublabel">{{sender.sublabel}}</div>
            {{/if}}
          </div>
        </aside>
      {{/if}}

      <div class="text-crawl__body">
        {{#if isScrollEffect}}
          <div class="text-crawl__scroll-window">
            <div class="text-crawl__scroll-track">
              {{#each scrollLines}}
                <span class="text-crawl__scroll-item" style="font-size: {{fontSize}};">{{text}}</span>
                <span class="text-crawl__scroll-separator" style="font-size: {{fontSize}};" aria-hidden="true">{{separator}}</span>
              {{/each}}
            </div>
          </div>
        {{else}}
          {{#each lines}}
            <div class="text-crawl-line-row">
              <div
                class="text-crawl-line-box"
                style="
                  font-size: {{fontSize}};
                  --text-length: {{textLength}};
                  --typing-time: {{typingTime}}s;
                  --start-delay: {{startDelay}}s;
                  --cursor-delay: {{startDelay}}s;
                  --cursor-iterations: {{#if isLastLine}}infinite{{else}}{{cursorDelay}}{{/if}};
                  --line-start-delay: {{startDelay}}s;
                  {{#if glitchEffect}}
                    --glitchTime: {{glitchEffect.time}}s;
                  {{/if}}
                "
              >
                <div class="text-crawl-line-sizer" aria-hidden="true">{{text}}</div>
                <div
                  style="
                    {{#if isTypewriterEffect}}
                      animation:
                        typing var(--typing-time) steps(var(--text-length)) var(--start-delay) normal backwards
                        {{#if glitchEffect}}, glitch {{glitchEffect.time}}s infinite{{/if}};
                    {{else}}
                      {{#if isStaticEffect}}
                        {{#if glitchEffect}}
                          animation: glitch {{glitchEffect.time}}s infinite;
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  "
                  class="text-crawl-line{{#if glitchEffect}} glitch{{/if}}"
                  data-scramble="{{scrambleText}}"
                >
                  {{#if glitchEffect}}
                    <span aria-hidden="true">{{text}}</span>
                  {{/if}}
                  {{text}}
                  {{#if glitchEffect}}
                    <span aria-hidden="true">{{text}}</span>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
